<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Activity List</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="text-right">
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div class="text-left">
        <div style="border: 1px solid #ccc; padding: 5px; margin-bottom: 20px;">
            <a th:href="@{/user_list}">Users</a> | &nbsp;
            <a th:href="@{/product_list}">Product</a> |
            <a th:href="@{/lead_list}">Leads</a> |
            <a th:href="@{/activity_list}">Activities</a> |
            <a th:href="@{/opportunity_list}">Opportunities</a> |
            <a th:href="@{/user_list}">Members</a> |
        </div>
    </div>
    <div align="center">
        <h3>Activity List</h3>&nbsp;&nbsp;&nbsp;
        <a th:href="@{/new_activity}">Create New Activity</a>
    </div>


    <div class="text-center">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Activity Id</th>
                <th>Type</th>
            <!--    <th>Account Name</th>
                <th>Assigned To</th>-->
                <th>Due Date</th>
                <th>Status</th>
                <th>Comments</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="activity : ${list}">
                <td th:text="${activity.id}">Activity Id</td>
                <td th:text="${activity.activityType}">Type</td>
            <!--    <td th:text="${activity.leadAccountName}">Account Name</td>
                <td th:text="${activity.assignedTo}">Assigned To</td>-->
                <td th:text="${activity.dueDate}">Due Date</td>
                <td th:text="${activity.status}">Status</td>
                <td th:text="${activity.comments}">Comments</td>
                <td>
                    <a th:href="@{'/edit_activity/' + ${activity.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete_activity/' + ${activity.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
function goBack() {
  window.history.back();
}
</script>
</body>
</html>