<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Update Lead</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div align="center">
    <h1>Update Leads</h1>
    <br />
    <form th:action="@{/process_edit_lead}" th:object="${leads}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Lead ID:</td>
                <td><input type="text" th:field="*{id}"  readonly="readonly" /></td>
            </tr>
            <tr>
                <td>First Name:</td>
            <td><input type="text" th:field="*{firstName}" autocomplete="off" required minlength="3" maxlength="12"/></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" th:field="*{lastName}" autocomplete="off" required minlength="3" maxlength="12"/></td>
            </tr>
            <tr>
                <td>Company:</td>
                <td><input type="text" th:field="*{company}" autocomplete="off" required minlength="3" maxlength="12" /></td>
            </tr>
            <tr>
                <td>Email Id:</td>
                <td><input type="email" th:field="*{emailId}" autocomplete="off"/></td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td><input type="text" pattern="^\d{10}$" th:field="*{phoneNumber}" autocomplete="off"/></td>
            </tr>
            <tr>
                <td>Status:</td>
<!--                <td><input type="text" th:field="*{status}" autocomplete="off" /></td>-->
<!--                <td>Only enter UNQUALIFIED / NEW / INPROGRESS / CONVERTED<td/>-->
                <td><input type="text" th:field="*{status}" class="form-control" list="*{status}" name="status" />
                <datalist id="*{status}">
                    <option value="UNQUALIFIED">
                    <option value="NEW">
                    <option value="INPROGRESS">
                    <option value="CONVERTED">
                </datalist>
                </td>
            </tr>
            <tr>
                <td>Products</td>
                <td>
                    <select name="productList" class="form-control select-checkbox" multiple>
                        <option th:each="product : ${productList}"
                                th:value="${product.id}"
                                th:text="${product.name}"></option>
                    </select>
                </td>
            </tr>
                <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
                <td colspan="2"><button type="reset" value="Reset">Reset</button></td>
                <td colspan="2"><button onclick="goBack()">Go Back</button></td>
            </tr>
        </table>
    </form>
</div>
<script>
function goBack() {
  window.history.back();
}
</script>
</body>
</html>